:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --main-content-weight: 400;
    --heading-weight: 700;

    --repeating-liner-gradient: #d3d3d3;
    --liner-gradient: 
    linear-gradient(#E7E7E7 0.01%, #1A1A1A);
    --accent-color: #000;
    --background-color: #fff;
    --text-stroke-color: rgba(255, 255, 255, 0.5);
    --hover-color: #fff;

    --heart-counter-color: var(var(--accent-color));
    --heart-main-color: red;
}
